.contato {
  place-items: center;
  position: relative;
}
.contato h1 {
  text-align: center;
  padding-bottom: 160px;
}

.contato-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 80px;
}

iframe {
  padding-bottom: 20px;
  border-radius: 16px;
  max-width: 100%;
}

.contato-dados p {
  padding-bottom: 28px;
  padding-left: 32px;
}
.contato-dados p:first-child {
  background: url("../../../img/contato-localização.svg") no-repeat;
}

.contato-dados p:nth-child(2) {
  background: url("../../../img/contato-relógio.svg") no-repeat;
}

.contato-dados p:nth-child(3) {
  background: url("../../../img/contato-whatsapp.svg") no-repeat;
}

.contato-dados p:nth-child(4) {
  background: url("../../../img/contato-email.svg") no-repeat;
}

.contato-form p {
  padding-bottom: 32px;
}

.contato-form input {
  height: 48px;
}

.contato-form .botao {
  background-color: var(--color09);
  color: var(--color01);
}

.contato-form .botao:hover {
  background-color: var(--color12);
  color: var(--color03);
}

.contato-redes {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 120px;
}

.contato-visita {
  display: grid;
  place-content: center;
}

.contato-visita img {
  margin-bottom: 120px;
}
.contato-visita p {
  text-align: center;
  padding-bottom: 120px;
}

@media (max-width: 1000px) {
  .contato-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-bottom: 80px;
    max-width: 560px;
    margin: 0 auto;
  }
  .contato-form p {
    padding-bottom: 16px;
  }
}

@media (max-width: 850px) {
  .contato h1,
  .contato-redes {
    padding-bottom: 60px;
  }
  .contato-visita img {
    margin-bottom: 60px;
  }
}
@media (max-width: 750px) {
  .contato h1 {
    padding-bottom: 16px;
  }
  .contato-redes {
    padding-bottom: 24px;
  }
  .contato-visita img {
    margin-bottom: 16px;
  }
}
@media (max-width: 600px) {
  .contato h1,
  .contato-visita p {
    text-align: left;
  }
  .contato-redes {
    justify-content: start;
    gap: 16px;
  }
}