.footer-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 140px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.footer-bg {
  border-top: 2px solid var(--color03);
}

footer span {
  display: block;
}

.footer-redes {
  display: flex;
  gap: 16px;
}

footer h3 {
  padding-bottom: 22px;
}

footer a,
footer p,
footer li {
  padding-bottom: 24px;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: var(--color08);
  font-weight: bold;
}

footer a:visited {
  color: var(--color08);
}

footer {
  padding-bottom: 60px;
}

@media (max-width: 850px) {
  .footer-logo {
    max-width: 50%;
  }
  .footer-conteudo {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .footer-logo {
    display: none;
  }
}

@media (max-width: 550px) {
  .footer-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0px;
  }
  .footer-conteudo::before {
    margin-bottom: 0px;
  }
  .footer-contato,
  .footer-infos {
    padding-left: 20px;
  }
  footer li {
    padding-bottom: 20px;
  }
  footer h3 {
    padding-bottom: 0px;
  }
}
