.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 140px;

}

.menu img {
  padding-top: 20px;
}

.menu-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 20px;
}

.menu-ul a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.menu-ul a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  background: var(--color06);
  transition: 0.3s;
  position: absolute;
}

.menu-ul a:hover:after,
.menu-ul a.ativo::after {
  width: 100%;
}

.menu-ul a:visited {
  color: var(--color08);
}

@media (max-width: 900px) {
  header {
    padding-bottom: 60px;
  }

  .menu {
    place-content: center;
    padding-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .menu {
    display: grid;

    text-align: center;
  }

  .menu a:after {
    display: none;
  }

  .menu img {
    padding-bottom: 20px;
    margin: 0 auto;
    object-fit: scale-down;
    height: 50%;
    width: 50%;
  }

  .menu-ul {
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .menu-ul a {
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px dashed var(--color06);
    text-align: center;
    width: 130px;
  }
}

@media (max-width: 550px) {
  .menu-ul {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .menu-ul a {
    width: 130px;
  }
}

@media (max-width: 350px) {
  .menu-ul {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}