header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 140px;
  justify-content: space-between;
  align-items: center;
}

header img {
  justify-self: start;
}

header nav {
  padding: 0px 0px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 20px;
}

header li {
  display: inline-block;
  position: relative;
  padding: 16px 0px;
}

header li a:hover,
header li a:active,
header li a:focus {
  color: var(--color08);
  font-weight: bold;
}

header li a:visited {
  color: var(--color08);
}

@media (max-width: 850px) {
  header {
    padding-bottom: 60px;
  }
  .menu {
    place-content: center;
  }
}

@media (max-width: 750px) {
  header {
    display: grid;
    padding-bottom: 40px;
  }
  header a img {
    padding-bottom: 20px;
    margin: 0 auto;
  }
  header ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding-left: 0px;
  }
  header ul li {
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px dashed var(--color06);
    text-align: center;
  }
}

@media (max-width: 500px) {
  header ul {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

@media (max-width: 350px) {
  header ul {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
