.avaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px dashed var(--color06);
  border-radius: 16px;
  max-width: fit-content;
margin-top: 120px;
margin-bottom: 120px;
}

.estrelas {
  display: inline-flex;
  gap: 4px;
  padding-bottom: 32px;
  margin-top: 60px;
}

.avaliacao h2 {
  padding-bottom: 12px;
  text-align: center;
  margin: 0px;
  padding-left: 144px;
  padding-right: 144px;
}

.avaliacao p {
  padding-bottom: 24px;
  max-width: 55ch;
  text-align: center;
}

.avaliacao .botao {
  background-color: var(--color03);
  margin-bottom: 60px;
}

.avaliacao .botao:hover {
  background-color: var(--color05);
}

@media (max-width: 850px) {
  .avaliacao {
    background-image: none;
  }
  .estrelas {
    margin-top: 40px;
  }
  .avaliacao h2 {
    padding-left: 72px;
    padding-right: 72px;
  }
  .avaliacao .botao {
    margin-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .estrelas {
    padding-bottom: 16px;
    margin-top: 32px;
  }
  .avaliacao h2 {
    font-size: 2rem;
    padding-top: 0px;
  }
  .avaliacao .botao {
    margin-bottom: 32px;
  }
}

@media (max-width: 450px) {
  .avaliacao {
  border: 0px;
  align-items: start;
  }
  .estrelas {
    padding-bottom: 12px;
    grid-row: 2;
    margin-top: 0px;
  }
  .avaliacao h2 {
    padding-top: 0px;
    padding-left: 0px;
    font: 400 2rem/1.25 "Pacifico", cursive;
    text-align: left;
  }
  .avaliacao p {
    text-align: left;
    padding-bottom: 8px;
  }
  .avaliacao .botao {
    padding: 0px;
    background-color: inherit;
    display: inline-block;
    color: currentColor;
    font: 400 1rem/1.5 "Roboto", sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .avaliacao .botao:hover {
    color: var(--color08);
  }
}
