.comeco h1 {
  display: grid;
  justify-content: center;
  padding-bottom: 160px;
}

.comeco-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  display: flex;
  padding-bottom: 120px;
  justify-content: space-between;
  gap: 40px;
}

.comeco-conteudo h2 {
  padding-bottom: 32px;
}

.comeco-texto {
  display: grid;
  align-content: center;
}

.comeco-texto span {
  display: block;
  max-width: 572px;
  padding-bottom: 24px;
}

.comeco-texto p {
  max-width: 572px;
  padding-bottom: 24px;
}

.comeco-img {
  padding-bottom: 8px;
  max-width: 100%;
  object-fit: cover;
  object-position: top left;
  height: 100%;
}

.comeco-img-peq {
  display: none;
}

@media (max-width: 950px) {
  .comeco-conteudo {
    gap: 20px;
  }
  .comeco-conteudo h2 {
    padding-bottom: 24px;
  }
  .comeco-texto span {
    padding-bottom: 24px;
  }
}

@media (max-width: 850px) {
  .comeco h1 {
    padding-bottom: 60px;
  }
  .comeco h2 {
    padding-bottom: 16px;
  }
  .comeco-texto span {
    padding-bottom: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .comeco h1 {
    justify-content: start;
    padding-bottom: 40px;
  }
  .comeco-conteudo {
    display: grid;
    grid-template-columns: 1fr;
      padding-bottom: 60px;
  }
  .comeco h2 {
    padding-bottom: 16px;
  }
  .comeco-texto span,
  .comeco-texto p {
    max-width: 75ch;
  }
  .comeco-img,
  .rita-e-aila {
    display: none;
  }
  .comeco-img-peq {
    display: grid;
    margin-bottom: 16px;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .comeco-conteudo {
    padding-bottom: 48px;
  }
  .comeco-texto p {
    padding-bottom: 12px;
  }
}
