.missao-box {
  display: flex;
  flex-direction: row;
  border: 4px dashed var(--color06);
  border-radius: 16px;
  background-color: var(--color03);
  justify-content: center;
  margin: 0 auto;
  width: calc(100% - 40px);
  place-content: space-around;
}

.missao-box h2 {
  text-align: center;
  padding-top: 86px;
  padding-bottom: 50px;
}

.missao-box p {
  max-width: 20ch;
  text-align: center;
  padding-bottom: 86px;
}

@media (max-width: 950px) {
  .missao-box {
    padding-top: 60px;
  }
  .missao-box h2 {
    padding-top: 0px;
    padding-bottom: 12px;
  }
  .missao-box p {
    padding-bottom: 60px;
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .missao-box {
    flex-direction: column;
    place-items: center;
  }
  .missao-box p {
max-width: 50ch;
padding-bottom: 60px;
  }
}

@media (max-width: 450px) {
  .missao-box {
    background-color: var(--white);
    border: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .missao-box h2 {
    font-size: 2rem;
    text-align: left;
  }
  .missao-box p {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 32px;
  }
}
