.nosso-espaco {
  display: grid;
  justify-content: center;
  padding-bottom: 160px;
}

.estrutura-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 120px;
  gap: 0px 73px;
  align-items: end;
  justify-items: center;
}

.estrutura-texto h2 {
  padding-bottom: 32px;
}

.estrutura-texto p {
  max-width: 36ch;
}

.estrutura-conteudo img {
  max-width: 760px;
}

.estrutura-img-fachada {
  display: none;
}

.estrutura-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 120px;
  gap: 0px 40px;
}

.estrutura-img img {
  padding-bottom: 8px;
}

.estrutura-bg {
  background-color: var(--color03);
  box-shadow: inset 0 340px var(--white), inset 0 -308px var(--white);
}

@media (max-width: 1150px) {
  .estrutura-conteudo {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
    gap: 0px 40px;
  }
  .estrutura-texto p {
    max-width: 75ch;
  }
  .estrutura-conteudo img {
    max-width: 90%;
  }
  .estrutura-bg {
    box-shadow: inset 0 198px var(--white), inset 0 -100px var(--white);
  }
}

@media (max-width: 850px) {
  .nosso-espaco {
    padding-bottom: 60px;
    font-size: 3rem;
  }
  .estrutura-bg {
    background: none;
  }
  .estrutura-conteudo h2 {
    color: var(--color08);
  }
  .estrutura-conteudo img {
    display: none;
  }
  .estrutura-conteudo {
    grid-template-columns: 1fr;
    padding-bottom: 32px;
    gap: 0px 0px;
    place-items: start;
  }
  .estrutura-img-fachada {
    display: grid;
  }
  .estrutura-img {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 60px;
    gap: 0px 20px;
  }
}

@media (max-width: 750px) {
  .nosso-espaco {
    justify-content: start;
    padding-left: 20px;
    font-size: 2.5rem;
    padding-bottom: 40px;
  }
  .estrutura-texto h2 {
    padding-bottom: 16px;
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .estrutura-img {
    grid-template-columns: 1fr;
  }
  .estrutura-img p {
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .nosso-espaco {
    font-size: 2rem;
  }
  .estrutura-texto h2 {
    font-size: 2rem;
  }
}
